---
import { Icon } from 'astro-icon/components';

interface Props {
  title?: string;
  content?: string;
  buttonText?: string;
  href?: string;
  bgTheme?: 'image' | 'solid';
  uniqueId?: string;
}

const { bgTheme = 'image' } = Astro.props;
---

<div class='container' data-bg-theme={bgTheme}>
  <div class='header'>
    <img class='avatar' id='userAvatar' />
    <span class='from-text'>From</span>
    <span class='name' id='userName'></span>
    <Icon name='tabler:chevron-right' class='w-5 h-5 text-gray-400' />
  </div>
  <div class='content'>
    <div class='content-scroll'>
      <img class='cover' id='reflectionCover' />
      <div class='content-header'>
        <div class='date' id='reflectionDate'></div>
        <h1 class='title' id='reflectionTitle'></h1>
        <div class='verse' id='reflectionVerse'>
          <div class='verse-text' id='reflectionVerseText'></div>
          <div class='verse-marker' id='reflectionVerseMarker'></div>
        </div>
      </div>
      <div class='body' id='reflectionBody'></div>
    </div>
  </div>
  <div class='footer'>
    <a class='pray-button' id='reflectionButton'>
      <span>Let's Pray</span>
    </a>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
  }

  .header {
    display: flex;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    gap: 8px;
    background: #fbfaf3;
    padding: 16px;
  }
  .avatar {
    width: 24px;
    height: 24px;
    background: #e2e2e2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  .from-text {
    color: #000;
    font-size: 14px;
  }

  .name {
    color: #000;
    font-size: 14px;
    font-weight: 500;
  }

  .close-icon {
    margin-left: auto;
    background: #c2c1c0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
  }

  .from-text {
    color: #666;
    font-size: 14px;
  }

  .container[data-bg-theme='solid'] {
    background-color: #fff;
    flex: 1;
  }

  .content {
    flex: 1;
    width: 100%;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
  }

  .content-scroll {
    flex: 1;
    overflow-y: auto;
    padding: 0 0 80px 0;
  }

  .content-header {
    display: flex;
    flex-direction: column;
    padding: 36px 24px;
    gap: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  }

  .date {
    color: rgba(44, 31, 17, 0.5);
    text-align: center;

    /* San-Serif/Body 3/Medium */
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.14px;
  }

  .title {
    overflow: hidden;
    color: #2c1f11;
    text-align: center;
    font-family: 'BeautiqueDisplayCondensed';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .verse {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 24px;
  }

  .verse-text {
    color: #2c1f11;

    /* Serif/Body 2/Regular */
    font-family: 'LoraItalic';
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.16px;
  }

  .verse-marker {
    margin-top: 10px;
    overflow: hidden;
    color: rgba(44, 31, 17, 0.5);

    /* San-Serif/Body 3/Medium */
    font-family: 'NunitoSansSemiBold';
    font-size: 14px;
    font-style: normal;

    line-height: 140%; /* 19.6px */
    letter-spacing: -0.14px;
  }

  .body {
    padding: 36px 24px;
    color: #2C1F11;
    font-family: 'Lora', serif;
    font-size: 17px;
    font-style: normal;
    white-space: pre-wrap;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(239, 239, 239, 0) 0%, #efefef 100%);
    backdrop-filter: blur(12px);
  }

  .pray-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #2c1f11;
    text-align: center;

    /* San-Serif/Body 2/Medium */
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.16px;
    border: none;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 999px;
    border: 1px solid var(--Border-Reversed-border-primary, rgba(255, 255, 255, 0.04));
    background: rgba(253, 253, 253, 0.92);

    /* Backdrop blurs/backdrop-blur-sm */
    backdrop-filter: blur(4px);
  }

  .pray-button:hover {
    opacity: 0.85;
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {});

  document.getElementById('closeIcon')?.addEventListener('click', () => {
    window.location.href = '/';
  });
</script>
