---
import { Icon } from 'astro-icon/components';
---

<section class="bg-slate-100 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    Bible Study · Prayer Meditation · Spiritual Reflection
  </div>
</section>
