---
import Layout from '~/layouts/PageLayout.astro';

import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title"> Next Generation Bible App Is Here </Fragment>

    <Fragment slot="subtitle">
      Step into the presence of God with Aura. Explore Scripturre, reflect deeply, and grow in faith with your personal
      Bible and prayer guide. Transform your Bible study experience today!
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Problems"
    title="Hitting roadblocks to spiritual growth?"
    subtitle="Every Christian experiences spiritual roadblocks, Aura ishere to help."
    items={[
      {
        title: 'Disconnect from Scripture',
        description: 'The Bible is rich and overwhelming. Without context, it can be hard to understand.',
        icon: 'tabler:brand-tailwind',
        image: {
          src: '~/assets/images/unmotivated.png',
          alt: 'Unmotivated',
        },
      },
      {
        title: 'Spiritual Isolation',
        description: 'Sometimes guilt and awkwardness keep me from sharing prayer needs, causing isolation',
        icon: 'tabler:components',
        image: {
          src: '~/assets/images/isolation.png',
          alt: 'Isolation',
        },
      },
      {
        title: 'Lack of Guidance',
        description: 'Without direction, sometimes I struggle to pray confidently, and feel distant from God.',
        icon: 'tabler:list-check',
        image: {
          src: '~/assets/images/guidance.png',
          alt: 'Lack of Guidance',
        },
      },
      {
        title: 'Doubt & Uncertainty',
        description: 'Unanswered prayers create doubt, making believers question if God listens.',
        icon: 'tabler:rocket',
        image: {
          src: '~/assets/images/doubt.png',
          alt: 'Doubt',
        },
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Features"
    title="“It’s A Spiritual Companion.”"
    subtitle="Imagine having someone to discuss challenging questions, 24/7."
    items={[
      {
        title: 'Contextual Exploration',
        description:
          'Explore over 840,000 study notes detailing historical, cultural, geographical, and theological backgrounds. Gain a full pictureof Scripture’s redemptive story.',
      },
      {
        title: 'Cross Reference',
        description:
          'Trace connections across all 66 books of the Bible-discovering themes, prophecies, and truths that beautifully align to reeveal God’s redemptive plan.',
      },
    ]}
    image={{
      src: '~/assets/images/feature1.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        In-Depth Contextual Bible Study
      </h3>
      Dive deeper into Scripture with Aura’s verse-by-verse insights. The one-click <span class="font-bold"
        >“Expand”</span
      > feature reveals the profound richness of God’s Word effortlessly.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Less Known Insights',
        description: `Explore fresh, thought-provoking reflections that uncover bblical truths, hidden context, and deeper meanings-shedding new light on familiar passages to strengthen your understanding of God’s Word`,
      },
      {
        title: 'Curated Content',
        description:
          'Every devotional is thoughtfully crafted by our team, rooted in Scripture, and theologically sound. Designed to draw you closer to God, each reflection inspires meaningful insights and heeartfelt prayer.',
      },
    ]}
    image={{
      src: '~/assets/images/feature2.png',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Daily Rejuvenation</h3>
      Aura delivers a fresh daily devotional that unpacks Biblical promises or theological insights. With Scripture and guideed
      prayer woven together, you'll reflect deeply on God’s Word and discover its relevance in your life.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Conversational Prayer Writing Guide',
        description:
          'Struggling to find the right words for prayer? Aura’s interactive guide helps you articulate heartfelt, meaningful prayers through a conversational approach, making every prayer authentic and personal.',
      },
      {
        title: 'Tailored Made Devotionals Just For You',
        description:
          'Receive devotionals carefully customized to your needs, with selected Scripture, reflections, and prayers that speak directly to your circumstances—bringing comfort, clarity, and renewed hope.',
      },
    ]}
    image={{
      src: '~/assets/images/feature3.png',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Personalized Devotionals</h3>
      Aura delivers a fresh daily devotional that unpacks Biblical promises or theological insights. With Scripture and guideed
      prayer woven together, you'll reflect deeply on God’s Word and discover its relevance in your life.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        title: 'Theologically Rigorous',
        description:
          'Every response is grounded in sound biblical doctrine, ensuring clarity, accuracy, and alignment with Scripture. With Aura, you can trust that every insight reflects theological depth and truth.',
      },
      {
        title: 'Builds Deeper Understanding',
        description:
          'Aura remembers your prayers and context with memory management, making conversations increasingly relevant, personalized, and insightful over time.',
      },
    ]}
    image={{
      src: '~/assets/images/feature4.png',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">24/7 Discussion Partner</h3>
      Your trusted companion for living out your faith with purpose, joy, and biblical clarity. Whether you’re diving into
      deeper Bible study, seeking encouragement in tough times, or simply looking for a quiet space to reflect and pray,
      Aura is here to help you grow closer to God.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Our Devotional & Prayer Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive in and get to know a bit more about Aura"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Can I trust Al to answer Bible questions?',
        description:
          "Aura's Al provides biblically grounded answers by adhering strictly to Scripture and Reformed theology, including the Westminster Confession of Faith. While Al offers clarityand guidance, we encourage users to test all insights againsthe Bible and seek wisdom from trusted church leaders.",
      },
      {
        title: 'What translations of Bible does Aura use?',
        description:
          'Aura proudly licenses the New American Standard Biblle (NASB) as our exclusive translation. Renowned for its unmatched accuracy to the original Hebrew, Aramaic, and Greek texts, the NASB is trusted by millions for its precision and clarity-making it ideal for in-depth study.',
      },
      {
        title: 'Why the name Aura?',
        description:
          'In Exodus 34:29-30, Moses’ face radiated with a divineglow after meeting God. “Aura” represents the reflection of His$light, wisdom, and presence that we hope this app brings to your daily life and time in God’s Word.',
      },
      {
        title: 'Can I share my devotionals or prayer reflections with others?',
        description:
          'Yes! Aura allows you to share our copyrighted devotionals, prayer reflections, and insights with friends, family, or you small group to encourage growth and connection.',
      },
      {
        title: 'How does Aura ensure the theological accuracy of its answers?',
        description:
          'Aura adheres to sound biblical doctrine and Refornhed theology, guided by trusted theological resources and oversight to ensure answers remain biblically faithful.',
      },
      {
        title: 'Can Aura replace my church or small group?',
        description:
          'No. Aura is a tool to enrich your personal faith journey, but it’s not a replacement for the essential fellowship, accountability, and teaching found in your local church community.',
      },
      {
        title: 'What makes Aura different from other Bible study apps?',
        description:
          'Aura uniquely combines Al-powered contextual Bible studdy, personalized devotionals, and memory management, delivering a tailored and comprehensive study experiencee unmatched by other apps.',
      },
      {
        title: 'How can I provide feedback or get support?',
        description:
          'We value your input! Reach our team anytime at auraprayerapp@gmail.com or use the in-app feedback feature to share thoughts or get help.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
