---
import { SITE } from 'astrowind:config';
import Image from '~/components/common/Image.astro';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-medium font-heading text-gray-900 whitespace-nowrap dark:text-white flex align-center items-center"
>
  <Image src="~/assets/images/logo.png" alt="logo" width={46} height={46} class="mr-1" />
  {SITE?.name}
</span>
